<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-euiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    {{#if pageTitle}} 
        <title>{{pageTitle}}</title>
    {{else}} 
        <title>WaterZen </title>
    {{/if}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

</head>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<body>
    <header>
        <a href="/" class="logo">
            WaterZen
        </a>

        <ion-icon id="menu-bar" name="menu-outline" size="large"></ion-icon>

        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/official">Official Data</a>
            <a href="/community">Community</a>
            <a href="/product">Product</a>
            <a href="/report">Report Pollution</a>
            {{#if login}}
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{#if avatar}}
                        <img class="profile" src="/img/upload/{{avatar}}" alt="avatar">
                    {{else}}
                        <ion-icon name="person-circle-outline" size="large"></ion-icon>
                    {{/if}}

                    {{#if nickname}}
                        {{nickname}}
                    {{/if}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item active droplink" href="/profile">My Profile</a></li>
                    <li><a class="dropdown-item droplink" href="/profile/report">My Report</a></li>
                    <li><a class="dropdown-item droplink" href="/profile/contribution">My Contribution</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item droplink" href="/logout">Log out</a></li>
                </ul>
            </div>
            {{else}}
            <a href="/login">Log in</a>
            {{/if}}

        </nav>


    </header>


    <main>
        {{{body}}}
    </main>

    <footer>
        <div class="footer">

            <div class="about box">
                <h1>About Us</h1>
                <p>Developed by team Galaxy 6, WaterZen is a platform connecting water with the citizens. Our stakeholders include the public, water-related merchants, and the government. People are able to check the water quality, monitor, and send alerts when they sense water pollution at different areas. 
                </p>
            </div>

            <div class="info box">
                <h1>Address</h1>
                <div class="content">
                    <div class="call text">
                        <span>
                            <ion-icon name="call-outline"></ion-icon>Tel: +86 1234566
                        </span>
                    </div>
                    <div class="mail text">
                        <span>
                            <ion-icon name="mail-outline"></ion-icon>waterzen7381@outlook.com
                        </span>
                    </div>
                    <div class="location text">
                        <span>
                            <ion-icon name="location-outline"></ion-icon>University of Queensland, Brisbane, Australia
                        </span>
                    </div>
                </div>

            </div>

            <div class="social box">

                <div class="share">
                    <a href="https://www.facebook.com/" class="btn" target="_blank">
                        <ion-icon name="logo-facebook" size="large"></ion-icon>
                    </a>
                    <a href="https://www.instagram.com/" class="btn" target="_blank">
                        <ion-icon name="logo-instagram" size="large"></ion-icon>
                    </a>
                    <a href="https://wx.qq.com/" class="btn" target="_blank">
                        <ion-icon name="logo-wechat" size="large"></ion-icon>
                    </a>
                    <a href="https://hk.linkedin.com/" class="btn" target="_blank">
                        <ion-icon name="logo-linkedin" size="large"></ion-icon>
                    </a>
                </div>
                <a href="/" class="logo"> WaterZen </a>
            </div>

        </div>

        <div class="copyright">
            Created by Team Galaxy 6 © 2021 All rights reserved
        </div>

        <!-- scroll top button  -->
        <a href="#" id="scroll-top">
            <ion-icon name="caret-up-outline" size="large"></ion-icon>
        </a>

        <script src="/js/index.js"></script>

        <!-- input icon -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </footer>


</body>

</html>