<link rel="stylesheet" href="/css/community.css">


<main>
    <!-- private content -->
    <div id="private">
        <div class="container">
            <div class="row">
                <!-- sub-navigation area -->
                <div class="col-lg-3">
                    <div class="heading">
                        <h3>Community</h3>
                    </div>
                    <button class="report">
                        <a href="/report">Report</a>
                    </button>
                    
                    <div class="filter">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".swimming">Swimming</li>
                            <li data-filter=".fishing">Fishing</li>
                            <li data-filter=".aquaculture">Aquaculture</li>
                        </ul>
                    </div>
                    <div id="search-box">
                        <form action="/community/search" method="post">
                            <input type="text" name="placeName" placeholder="Type to search">
                            <button type="submit"><ion-icon name="search" size="large"></ion-icon></button>
                        </form>
                    </div> 
                </div>
                <!-- End -->
                <!-- filter content -->
                <div class="col-lg-9"> 
                    <div class="filter-content">
                        <div class="row grid">
                            {{#if allData}}
                            {{#each allData}}
                            <div class="col-md-4 all {{category}}" id="id-{{id}}">
                                <div class="item">
                                    <div class="images">
                                        <img src="img/community/{{imagePath}}">
                                    </div>
                                    <div class="post-content">
                                        <h4>{{placeName}}</h4>
                                        {{!-- <div class="comment">
                                            <span id="star">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-outline"></ion-icon>
                                            </span>
                                            <span id="level_1">Level I</span>
                                        </div> --}}
                                        <div class="hiddenData">
                                            <h6>{{latitude}}</h6>
                                            <h6>{{longitude}}</h6>
                                            <p class='location'>{{location}}</p>
                                            <p class='temperature'>{{temperature}}</p>
                                            <p class='TU'>{{turbidity}}</p>
                                            <p class='ppm'>{{totalDissolvedSolids}}</p>
                                            <p class='ms/cm'>{{electricalConductivity}}</p>
                                            <p class='pH'>{{pH}}</p>
                                            <p class='date'>{{date}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>
    </div>
    <!-- End -->
    <!-- popup content -->
    <div class="popup-container">
        <div class="popup">
            <span id="close">✖</span>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6" id="left_row">
                        <div class="data-information">
                            <h1 id="popup-placeName"></h1>
                            <h6 id="popup-qualityResult">Quality Check : Passed</h6>
                            <h6 id="popup-location"></h6>
                            <h6 id="popup-latitude-longitude"></h6>
                            {{!-- <div class="rating">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                                <a href="">(52 reviews)</a>
                            </div> --}}
                            <div class="pop-img">
                                <img src="" alt="">
                            </div>
                            
                        </div>
                        <!-- data-table -->
                        <div class="private_data">
                            
                            <h5>Recent Water Quality Data </h5>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>Temperature</th>
                                        <th>Turbidity</th>
                                        <th>Total Dissolved Solids</th>
                                        <th>Electrical Conductivity</th>
                                        <th>pH</th>
                                        <th>Date</th>
                                    </tr>
                                    <tr>
                                        <td id="popup-temperature"></td>
                                        <td id="popup-tu"></td>
                                        <td id="popup-tds"></td>
                                        <td id="popup-ec"></td>
                                        <td id="popup-pH"></td>
                                        <td id="popup-date"></td>
                                    </tr>
                                </table>
                            </div>
                            
                        </div>
                        <!-- End -->

                    </div>
                    {{!-- <div class="Write-comments">
                        <div class="rating-wrapper">
                            <input type="radio" name="rating" id="star-1"><label for="star-1"></label>
                            <input type="radio" name="rating" id="star-2"><label for="star-2"></label>
                            <input type="radio" name="rating" id="star-3"><label for="star-3"></label>
                            <input type="radio" name="rating" id="star-4"><label for="star-4"></label>
                            <input type="radio" name="rating" id="star-5"><label for="star-5"></label>
                        </div>
                        <div class="write-reviews">
                            <textarea id="reviews">(Write reviews)</textarea>
                            <button>Write Reviews</button>
                        </div>

                        <!-- comments area -->
                        <div class="comments">
                            <div class="comment-header">
                                <div class="user-infor">
                                    <div class="imgs">
                                        <img src="https://source.unsplash.com/user/erondu/50x50">
                                    </div>
                                    <h5 class="author">Negan</h5>
                                    <span class="date">A week ago</span>
                                    <span>★★★★☆</span>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment-header">
                                <div class="user-infor">
                                    <div class="imgs">
                                        <img src="https://source.unsplash.com/user/erondu/50x50">
                                    </div>
                                    <h5 class="author">Shirry</h5>
                                    <span class="date">A week ago</span>
                                    <span>★★★★☆</span>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment-header">
                                <div class="user-infor">
                                    <div class="imgs">
                                        <img src="https://source.unsplash.com/user/erondu/50x50">
                                    </div>
                                    <h5 class="author">Weiln</h5>
                                    <span class="date">A month ago</span>
                                    <span>★★★★★</span>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>

</main>

<script src="\js\jquery-3.6.0.min.js"></script>
<script src="\js\bootstrap.min.js"></script>
<script src="\js\isotope.js"></script>
<script src="\js\community.js"></script>