<link rel="stylesheet" href="/css/profile.css">

<div class="container">
    <h2 class="text-center">
        My Profile
    </h2>
    <img src="/img/upload/{{avatar}}" alt="avatar">
    <br>

    <hr>

    <div class="row">
        <div class="col-md-5">
            <h3>
                General Infomation
            </h3>

            <label><strong>Nickname:</strong></label>
            {{#if nickname}}
            <p>{{nickname}}</p>
            {{/if}}

            <label><strong>Email address:</strong></label>
            {{#if userEmail}}
            <p>{{userEmail}}</p>
            {{/if}}
        </div>


        <div class='col-md-5' id="update">
            <h3>
                Update Your Profile
            </h3>
            <form action="/profile/modifyProfile" method="post">
                <label for="floatingInput"><strong>Nickname:</strong></label>
                <br>
                <input type="text" name="nickname" placeholder="Input new nickname" required>

                <button type="submit">Save</button>

                {{#if modifyAlert}}
                <p class="text-success">{{modifyAlert}}</p>
                {{/if}}
            </form>

            <form action="/upload" method="POST" encType="multipart/form-data">
                <strong>Profile Photo: </strong>
                <input type="file" name="profileimg" accept="image/*" />
                <button type="submit">Submit</button>
                {{#if upload}}
                <p class="text-success">{{upload}}</p>
                {{/if}}
            </form>
        </div>
    </div>

    <div class="row" id="history">
        <div class="col-md-6">
            <h3>My Contribution: </h3>
            <a href="/privateArea"><img src="/img/add.png" alt="Contribute new data" class="add"></a>
            <label><strong>Date:</strong></label>
            <p>DD/MM/YYYY</p>
            <label><strong>Water Quality:</strong></label>
            <table class="table">
                <tr>
                    <td>Geographic Location</td>
                    <td>Here is latitude and longitude</td>
                </tr>
                <tr>
                    <td>Electrical Conductivity</td>
                    <td>Here is XXXXXX</td>
                </tr>
                <tr>
                    <td>pH</td>
                    <td>Here is pH</td>
                </tr>
                <tr>
                    <td>Temperature</td>
                    <td>Here is Temperature</td>
                </tr>
                <tr>
                    <td>Dissolved Solids</td>
                    <td>Here is dissolved solids</td>
                </tr>
                <tr>
                    <td>Water Turbidity</td>
                    <td>Here is water Turbidity</td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <h3>My Report: <a href="/profile/report">{{reportCount}}</a></h3>
            <a href="/report">
                <img src="/img/add.png" alt="Contribute new data" class="add">
                <p id="add">Add New</p>
            </a>
            <br>
            <div class="row report">
                <div class="col-md-4">
                    <label><h5 class="text-center">For Review </h5><br>
                        <a href="/profile/report/?kind=submit">{{submit}}</a>
                    </label>
                </div>
                <div class="col-md-4">
                    <label><h5 class="text-center">In Progress </h5><br>
                        <a href="/profile/report/?kind=progress">{{progress}}</a>
                    </label>
                </div>
                <div class="col-md-4">
                    <label><h5 class="text-center">Be Finalized </h5><br>
                        <a href="/profile/report/?kind=complete">{{complete}}</a>
                    </label>
                </div>
            </div>
        
            <label><a href="/profile/report">View All</a></label>
        </div>
    </div>
</div>

<script>
    $("hr+.row").mouseover(function(){
        $(this).css("background-color","#e0eaf080");
    });
    $("hr+.row").mouseleave(function(){
        $(this).css("background-color","white");
    });
    $(".col-md-6").mouseover(function(){
        $(this).css("background-color","#e0eaf080");
    });
    $(".col-md-6").mouseleave(function(){
        $(this).css("background-color","white");
    });
</script>