<link rel="stylesheet" href="/css/profile.css">

<div class="container">
    <h2 class="text-center">
        My Profile
    </h2>
    <img src="/img/upload/{{avatar}}" alt="avatar">
    <br>

    <hr>

    <div class="row">
        <div class="col-md-4 offset-md-2">
            <h3>
                General Infomation
            </h3>

            <label><strong>Nickname:</strong></label>
            {{#if nickname}}
            <p>{{nickname}}</p>
            {{/if}}

            <label><strong>Email address:</strong></label>
            {{#if userEmail}}
            <p>{{userEmail}}</p>
            {{/if}}
        </div>


        <div class='col-md-4' id="update">
            <h3>
                Update Your Profile
            </h3>
            <form action="/profile/modifyProfile" method="post">
                <label for="floatingInput"><strong>Nickname:</strong></label>
                <br>
                <input type="text" name="nickname" placeholder="Input new nickname" required>

                <button type="submit">Save</button>

                {{#if modifyAlert}}
                <p class="text-success">{{modifyAlert}}</p>
                {{/if}}
            </form>

            <form action="/upload" method="POST" encType="multipart/form-data">
                <strong>Profile Photo: </strong>
                <input type="file" name="profileimg" accept="image/*" />
                <button type="submit">Submit</button>
                {{#if upload}}
                <p class="text-success">{{upload}}</p>
                {{/if}}
            </form>
        </div>
    </div>
</div>