<link rel="stylesheet" href="/css/public.css">

<section class="top">

    <h2>Official Data</h2>

    <form action="/publicArea/basicSearch" method="POST" id="selection">
        <select class="form-select" name="state">
            <option value="null">Select state</option>
            <option value="VIC">Victoria</option>
            <option value="WA">Western Australia</option>
            <option value="NSW">New South Wales</option>
            <option value="TAS">Tasmania</option>
            <option value="ACT">Australian Capital Territory</option>
            <option value="QLD">Queensland</option>
            <option value="SA">South Australia</option>
            <option value="NT">Northern Territory</option>
        </select>
        <p>OR</p>
        <div class="form-group">
            <label for="searchCity" value="null">City/Region: </label>
            <input class="form-control" name="searchCity" type="text"></input>
        </div>
        <p>OR</p>
        <div class="form-group">
            <label for="searchPlace" value="null">Place name: </label>
            <input class="form-control" name="searchPlace" type="text"></input>
        </div>

        <button type="submit">Search</button>

    </form>
    {{#if alert}}
    <p>{{alert}}</p>
    {{/if}}




    <form action="/publicArea/clear" method="GET">
        <button type="submit">Clear</button>
    </form>
</section>





<div class='container'>
    <section class="row">
        {{#if selected}}
        <p> <b>Advanced Search</b> </p>
        {{/if}}

        <form action="/publicArea/advanceSearch" method="POST" id="order">
            {{#if selected}}
            <span><b>Order by: </b></span>
            <span>
                <label><input onclick="javascript:jump('/publicArea/advanceSearch');" type="radio" name="orderBy"
                        value="city">City/Region</label>
                <label><input onclick="javascript:jump('/publicArea/advanceSearch');" type="radio" name="orderBy"
                        value="name">Place Name</label>
                <label><input onclick="javascript:jump('/publicArea/advanceSearch');" type="radio" name="orderBy"
                        value="quality">Water quality</label>
            </span>
            {{/if}}
        </form>
    </section>



    {{#if results}}
    <div class="row align-items-center">
        <div class="col">
            State
        </div>
        <div class="col">
            City/Region
        </div>
        <div class="col">
            Name
        </div>
        <div class="col">
            Latitude
        </div>
        <div class="col">
            Longitude
        </div>
        <div class="col">
            Electrical conductivity
        </div>
        <div class="col">
            pH
        </div>
        <div class="col">
            Temperature
        </div>
        <div class="col">
            Total dissolved solids
        </div>
        <div class="col">
            Water turbidity
        </div>
        <div class="col">
            Date
        </div>
    </div>

    {{#each results}}
    <div class="row align-items-center">
        <div class="col">
            {{state}}
        </div>
        <div class="col">
            {{#if city}}
            {{city}}
            {{else}}
            Unknown
            {{/if}}
        </div>
        <div class="col">
            {{placeName}}
        </div>
        <div class="col">
            {{latitude}}
        </div>
        <div class="col">
            {{longitude}}
        </div>
        <div class="col">
            {{electricalConductivity}}
        </div>
        <div class="col">
            {{pH}}
        </div>
        <div class="col">
            {{temperature}}
        </div>
        <div class="col">
            {{totalDissolvedSolids}}
        </div>
        <div class="col">
            {{waterTurbidity}}
        </div>
        <div class="col">
            {{date}}
        </div>
    </div>
    {{/each}}

    {{/if}}
</div>

<script src="\js\publicArea.js"></script>
<script language="javascript">
    function jump(url) {
        order.action = url;
        order.method = "POST";
        order.submit();
    }

    let selected = "{{selected}}";
    if (selected != "") {
        const state = "{{selected.state}}"
        const searchCity = "{{selected.searchCity}}"
        const searchPlace = "{{selected.searchPlace}}"
        const orderBy = "{{selected.orderBy}}"

        if (state != "") {
            let selectedState = document.querySelector(`option[value=${state}]`);
            selectedState.selected = true;
        }

        if (searchCity != "") {
            let selectedCity = document.querySelector(`input[name="searchCity"]`);
            selectedCity.value = searchCity;
        }

        if (searchPlace != "") {
            let selectedCity = document.querySelector(`input[name="searchPlace"]`);
            selectedCity.value = searchPlace;
        }

        if (orderBy != "") {
            let city = document.querySelector('input[value="city"]');
            let placeName = document.querySelector('input[value="name"]');
            let quality = document.querySelector('input[value="quality"]');

            switch (orderBy) {
                case "city":
                    city.checked = true;
                    break;
                case "name":
                    placeName.checked = true;
                    break;
                case "quality":
                    quality.checked = true;
                    break;
            }
        }
    }

</script>