<link rel="stylesheet" href="/css/public.css">

<section class="top">
    {{#if selected}}
    <h2>{{selected}} Official Data</h2>
    {{else}}
    <h2>Official Data</h2>
    {{/if}}

    <form action="/publicArea/searchState" method="POST" id="selection">
        <select class="form-select" name="state">
            <option value="null">Select state</option>
            <option value="VIC">Victoria</option>
            <option value="WA">Western Australia</option>
            <option value="NSW">New South Wales</option>
            <option value="TAS">Tasmania</option>
            <option value="ACT">Australian Capital Territory</option>
            <option value="QLD">Queensland</option>
            <option value="SA">South Australia</option>
            <option value="NT">Northern Territory</option>
        </select>
        <select class="form-select" name="orderBy">
            <option value="null">Order by</option>
            <option value="city">City/Region</option>
            <option value="quality">Water quality</option>
        </select>
        <input name = "searchBar"></input>
        <button type="submit">Search</button>
    </form>
    {{#if alert}}
        <p>{{alert}}</p>
    {{/if}}
    <form action="/publicArea/clear" method="GET">
        <button type="submit">Clear</button>
    </form>
</section>

{{#if results}}
<div class='container'>
    <div class="row align-items-center">
        <div class="col">
            City/Region
        </div>
        <div class="col">
            Name
        </div>
        <div class="col">
            Latitude
        </div>
        <div class="col">
            Longitude
        </div>
        <div class="col">
            Electrical conductivity
        </div>
        <div class="col">
            pH
        </div>
        <div class="col">
            Temperature
        </div>
        <div class="col">
            Total dissolved solids
        </div>
        <div class="col">
            Water turbidity
        </div>
        <div class="col">
            Date
        </div>
    </div>

    {{#each results}}
        <div class="row align-items-center">
            <div class="col">
                {{#if city}}
                {{city}}
                {{else}}
                Unknown
                {{/if}}
            </div>
            <div class="col">
                {{placeName}}
            </div>
            <div class="col">
                {{latitude}}
            </div>
            <div class="col">
                {{longitude}}
            </div>
            <div class="col">
                {{electricalConductivity}}
            </div>
            <div class="col">
                {{pH}}
            </div>
            <div class="col">
                {{temperature}}
            </div>
            <div class="col">
                {{totalDissolvedSolids}}
            </div>
            <div class="col">
                {{waterTurbidity}}
            </div>
            <div class="col">
                {{date}}
            </div>
        </div>
    {{/each}}
</div>
{{/if}}