<link rel="stylesheet" href="/css/public.css">

<section class="top">

    <h2>Official Data</h2>

    <form action="/publicArea/basicSearch" method="POST" id="selection">
        <select class="form-select" name="state">
            <option value="null">Select state</option>
            <option value="VIC">Victoria</option>
            <option value="WA">Western Australia</option>
            <option value="NSW">New South Wales</option>
            <option value="TAS">Tasmania</option>
            <option value="ACT">Australian Capital Territory</option>
            <option value="QLD">Queensland</option>
            <option value="SA">South Australia</option>
            <option value="NT">Northern Territory</option>
        </select>
        <p>OR</p>
        <div class="form-group">
            <label for="searchCity" value="null">City/Region: </label>
            <input id="searchCity" class="form-control" name="searchCity" type="text" onkeyup="fetchCity(this)"></input>
        </div>
        <p>OR</p>
        <div class="form-group">
            <label for="searchPlace" value="null">Place name: </label>
            <input id="searchPlace" class="form-control" name="searchPlace" type="text"
                onkeyup="fetchPlaceName(this)"></input>
        </div>
        <section id="searchResultsCity" class="container d-flex flex-column"></section>
        <section id="searchResultsPlaceName" class="container d-flex flex-column"></section>

        <button type="submit">Search</button>

    </form>
    {{#if alert}}
    <p>{{alert}}</p>
    {{/if}}




    <form action="/publicArea/clear" method="GET">
        <button type="submit">Clear</button>
    </form>
</section>

<div class='container'>
    <section class="row">
        {{#if selected}}
        <p> <b>Advanced search: </b>
        </p>
        {{/if}}
    </section>

    <form action="/publicArea/advanceSearch" method="POST" id="order">
        {{#if selected}}
        <span><b>Order by: </b></span>
        <span>
            <label><input onclick="javascript:jump('/publicArea/advanceSearch');" type="radio" name="orderBy"
                    value="city">City/Region</label>
            <label><input onclick="javascript:jump('/publicArea/advanceSearch');" type="radio" name="orderBy"
                    value="name">Place Name</label>
            <label><input onclick="javascript:jump('/publicArea/advanceSearch');" type="radio" name="orderBy"
                    value="quality">Water quality</label>
        </span>
        {{/if}}
    </form>

    <section id="filterLevel">
        {{#if selected}}
        <span><b>Level: </b></span>
        <span>
            <label><input onclick="" type="checkbox" name="level1">Level 1</label>
            <label><input onclick="" type="checkbox" name="level2">Level 2</label>
            <label><input onclick="" type="checkbox" name="level3">Level 3</label>
        </span>
        {{/if}}
    </section>

    {{#if results}}
    <div class="row align-items-center">
        <div class="col">
            State
        </div>
        <div class="col">
            City/Region
        </div>
        <div class="col">
            Place Name
        </div>
        <div class="col">
            Date
        </div>
        <div class="col">
            Level
        </div>
    </div>

    {{#each results}}
    <div class="row align-items-center main-info">
        <div class="col">
            {{state}}
        </div>
        <div class="col">
            {{#if city}}
            {{city}}
            {{else}}
            Unknown
            {{/if}}
        </div>
        <div class="col">
            {{placeName}}
        </div>
        <div class="col">
            {{date}}
        </div>
        <div class="col">
            xxx
        </div>
    </div>
    <div class="row align-items-center detail-info">
        <div class="col">
            Latitude
        </div>
        <div class="col">
            Longitude
        </div>
        <div class="col">
            Electrical conductivity
        </div>
        <div class="col">
            pH
        </div>
        <div class="col">
            Temperature
        </div>
        <div class="col">
            Total dissolved solids
        </div>
        <div class="col">
            Water turbidity
        </div>
    </div>
    <div class="row align-items-center detail-info">
        <div class="col">
            {{latitude}}
        </div>
        <div class="col">
            {{longitude}}
        </div>
        <div class="col">
            {{electricalConductivity}}
        </div>
        <div class="col">
            {{pH}}
        </div>
        <div class="col">
            {{temperature}}
        </div>
        <div class="col">
            {{totalDissolvedSolids}}
        </div>
        <div class="col">
            {{waterTurbidity}}
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>

<script src="\js\publicArea.js"></script>
<script language="javascript">

    /* record scroll offset*/
    $(window).scroll(function () {
        if ($(document).scrollTop() != 0) {
            var offset = $(window).scrollTop();
            localStorage.setItem("offsetTop", offset);
        }
    });

    /* to submit form */
    function jump(url) {
        order.action = url;
        order.method = "POST";
        order.submit();
        /*
        // get ordered data, used with res.send(results); in publicAreaController.js
        $.ajax({
            type: "POST",
            data: $('#order').serialize(),
            url: url,
            success: function (data) {
                console.log(data);
                results = data.results
                console.log(results);
            },
            error: function (err) {
                console.log(err.msg);
            }
        })*/
    }

    // scroll to offset
    var offset = localStorage.getItem("offsetTop");
    $("HTML, BODY").animate({
        scrollTop: offset
    }, 0);

    // restore selected content
    let selected = "{{selected}}";
    if (selected != "") {
        const state = "{{selected.state}}"
        const searchCity = "{{selected.searchCity}}"
        const searchPlace = "{{selected.searchPlace}}"
        const orderBy = "{{selected.orderBy}}"

        if (state != "") {
            let selectedState = document.querySelector(`option[value=${state}]`);
            selectedState.selected = true;
        }

        if (searchCity != "") {
            let selectedCity = document.querySelector(`input[name="searchCity"]`);
            selectedCity.value = searchCity;
        }

        if (searchPlace != "") {
            let selectedCity = document.querySelector(`input[name="searchPlace"]`);
            selectedCity.value = searchPlace;
        }

        if (orderBy != "") {
            let city = document.querySelector('input[value="city"]');
            let placeName = document.querySelector('input[value="name"]');
            let quality = document.querySelector('input[value="quality"]');

            switch (orderBy) {
                case "city":
                    city.checked = true;
                    break;
                case "name":
                    placeName.checked = true;
                    break;
                case "quality":
                    quality.checked = true;
                    break;
            }
        }
    }

    function fetchCity(e) {
        const searchResults = document.getElementById("searchResultsCity");
        let match1 = e.value.match(/^[a-zA-Z ]*/);
        let match2 = e.value.match(/\s*/);
        if (match2[0] === e.value) {
            searchResults.innerHTML = "";
            return;
        }
        if (match1[0] === e.value) {
            fetch('getCity', {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ payload: e.value })
            }).then(res => res.json()).then(data => {
                let payload = data.payload;
                console.log(payload);
                searchResults.innerHTML = "";
                if (payload.length < 1) {
                    searchResults.innerHTML = "<p>Sorry, nothing found.</p>";
                    return;
                }
                payload.forEach((item, index) => {
                    searchResults.innerHTML += `<p>${item.city}</p>`;
                });
            });
            return;
        }
        searchResults.innerHTML = "";
    }

    function fetchPlaceName(e) {
        const searchResults = document.getElementById("searchResultsPlaceName");
        let match1 = e.value.match(/^[a-zA-Z ]*/);
        let match2 = e.value.match(/\s*/);
        if (match2[0] === e.value) {
            searchResults.innerHTML = "";
            return;
        }
        if (match1[0] === e.value) {
            fetch('getPlaceName', {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ payload: e.value })
            }).then(res => res.json()).then(data => {
                let payload = data.payload;
                console.log(payload);
                searchResults.innerHTML = "";
                if (payload.length < 1) {
                    searchResults.innerHTML = "<p>Sorry, nothing found.</p>";
                    return;
                }
                payload.forEach((item, index) => {
                    searchResults.innerHTML += `<p>${item.placeName}</p>`;
                });
            });
            return;
        }
        searchResults.innerHTML = "";
    }


    /* Click and show more infomation*/
    $(".main-info").off().on({
        click: function () {
            console.log(this.nextElementSibling.classList);
            this.nextElementSibling.classList.toggle("show");
            this.nextElementSibling.nextElementSibling.classList.toggle("show");
        }
    })

</script>