<link rel="stylesheet" href="/css/signup.css">


<div class="container">
    <div class ="row">
        <div class = "col-md-3 offset-md-4">
            <h2>Sign Up</h2>
            <hr>
        </div>
        <div class = "col-md-4 offset-md-4">

            <form action="/registration/validation" method="post">

                <label for="floatingInput">Email</label>
                <br>
                <input type="text" name="userEmail" placeholder="Email" id="Email" required>
                <br>
                <label for="floatingInput">Nickname</label>
                <br>
                <input type="text" name="nickname" placeholder="Nickname" id="Nickname" required>
                <br>
                <label for="floatingInput">Password</label>
                <br>
                <input type="password" name="password" id="password" required>
                <br>
                <label for="floatingInput">Confirm Password</label>
                <br>
                <input type="password" name="confirm" id="confirm" required>
                <br>
                <button type="submit">Submit</button>

                {{#if registrationAlert}}
                <small>{{registrationAlert}}</small>
                {{else}} {{#if emailSent}}
                <br>
                <small class="text-success">{{emailSent}}</small>
                {{else}} {{/if}}{{/if}}

                {{#each validationError}}
                <small>{{msg}}</small>
                {{/each}}
            </form>
        </div>
    </div>
</div>
